*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.nav_bar{
    display: flex;
    justify-content: start;
    background: #3a3b3b;
}
.nav_bar p{
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}
.nav_icons{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;

}
.nav_icons .home a{
    color: #181cff;
}
.nav_icons a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s ease;
}
.nav_icons a:hover{
    color: #181cff;
}
.main_section{
    display: flex;
    padding: 0px;
    background-color: #111010;
    color: #fff;
    height: 590px;

}
.intro_img img{
    width: 500px;
    height: 580px;
    margin: 1px 0px 0px 5px;
    border-radius: 2%;
    box-shadow: #7a7cc4 8px 8px 20px 5px;
}
.intro_text{
    margin-left: 50px;
    margin-top: 100px;
    max-height: max-content;
    background-color: ;
}
.intro_text h1{
    font-size: 30px;
    margin-bottom: 20px;
     margin-block-end: 0px;
}

.intro_text p{
    font-size: 18px;
    margin-bottom: 10px 20px;
}

.intro_text .f{
    font-size: 50px;
    margin-bottom: 20px;
    color: #181cff;
    margin-block-end: -10px;
}
.intro_text .btn{
    background-color: #212222;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: #181cff 2px solid;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 30px;
    transition: background-color 0.4s ease;
}
.intro_text .btn a{
    text-decoration: none;
    color: white;
}
.intro_text .btn:hover{
    background-color: #181cff;
    color: #000000;
    font-weight: bold;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    *{
        box-sizing: border-box;
        margin: 0px 0px 0px 0px;
        text-wrap: ;

    }
    .nav_bar{
        display: none;
    }.main_section{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .intro_img img{
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 0;
        margin-top: 10px;
        border-radius: 20px;
        box-shadow: #181cff 8px 8px 20px 5px;
    }
    .intro_text{
        margin: 20px;
        text-align: center;
    }
    .intro_text h1{
        font-size: 24px;
    }
    .intro_text p{
        font-size: 16px;
    }
    .intro_text .btn{
        font-size: 16px;
        padding: 8px 16px;
        margin: 10px 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main_section{
        flex-direction: row;
        align-items: center;
        height: 590px;
    }
}